header{
  min-height: 100vh;
  background:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('/MovieSearch/images/cinema4.jpg')center/cover fixed no-repeat;
  position: relative;
  padding: 5rem 0;
}
.header-details{
  min-height: 100vh;
}
.img_mdb{
  opacity: 0.5;
  width: 15rem;
  margin-top: 3rem;
}