.search-results{
  min-height: 100vh;
  background:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('/MovieSearch/images/cinema3.jpg')center/cover fixed no-repeat;
  position: relative;
  padding: 3rem 0;
}

.btn-black{
  color:#6b6e75;
  font-size: 1.2rem;
  border: 1px solid #6b6e75;
  border-radius: 1rem;
}
.btn-active{
  color: #900830;
  border: 1px solid #900830;
}